body {
    text-align: center;
    /* background-color: #e15f41; */
    background: linear-gradient(to right,#3dc1d3, #546de5,#786fa6);
    /* background: linear-gradient(to right, #e15f41,#f5cd79, #546de5,#786fa6); */
    /* background-repeat: no-repeat; */
    /* background: linear-gradient(to right, red,orange, yellow, green); */
    /* background: conic-gradient(to right, red,orange, yellow, green); */
    /* background: radial-gradient(red,orange, yellow, green); */

} 

button, input {
    margin: 1%;
    padding: 1%;
}

button:hover {
    background: red;
}

.list-item {
    display: inline-block;
}

.search-results {
    list-style: none;
}

